<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>
    <a href="#"><i class="fas fa-bars"></i></a>
  </div>
</div>
