#chatroom-index {
  list-style-type: none;
  margin: 10px;
}

.chatbox {
  justify-content: space-between;
  padding-left: 15px;
}

.chat-list {
  color: white;
}

.chatwrapper {
  margin: 4px 12px;
}
