#chatroom-index {
  list-style-type: none;
  margin: 10px;
  display: flex;
  margin-left: 20px;
  background-color: $lblue;
  border-radius: 8px;
}

.chatbox {
  justify-content: space-between;
  padding: 0 15px;
  font-size: 12px;
  margin-right: 1px;
}

.chat-list {
  color: white;
}

.chatwrapper {
  margin: 0px 12px;
  overflow: hidden;
  margin-top: 68px;

}

.chatlink {
  padding-left: 22px;
  width: 100%;
}

.message-container {
  background-color: #282F3C;
  border-radius: 8px;
  padding: 0px 8px;
  padding-top: 2px;
}
