html {
  background-color: $dblue;
}
body {
  background-color: $dblue !important;
}
.wrapper {
  background-color: $dblue;
  color: $white;
  height: calc(100vh - 60px);
}
.button {
  margin-top: 8px;
}
.footer-blocker {
  height: 60px;
  opacity: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
}
