.feed-wrapper {
  width: 90vw;
  margin: auto;
}

.feed-wrapper h2 {
  font-size: 20px;
  margin: 20px 4px;
}

.post-header {
  display: flex;
  height: 50px;
  // margin: 4px 0px;
  border-radius: 8px 8px 0px 0px;
  position: relative;
  align-items: center;
  background-color: $lblue;
}

.user-image {
  position: absolute;
  left: 4px;
  // top: 4px;
}

.post-username {
  margin-left: 56px;
}

.post-username p {
  font-weight: lighter;
  display: inline;
}

.post-media {
  object-fit: cover;
  overflow: hidden;
}

.post-image {
  max-width: 100%;
}

.post-footer  {
  display: flex;
  height: 50px;
  margin-bottom: 16px;
  padding: 16px 8px 0px 8px;
  border-radius: 0px 0px 8px 8px;
  background-color: $lblue;
  align-items: center;
  justify-content: space-between;
  // display: inline;
}


.like-buttons {
  margin-bottom: 12px;
  margin-right: 12px;
}

.caption {
  width: 64vw;
  font-weight: lighter;
}

.caption p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  font-size: 1.5em;
  color: $red;
  display: inline;
  padding-left: 12px;
}






