

.feed-wrapper {
  width: 90vw;
  margin: auto;
}

.feed-wrapper h2 {
  font-size: 20px;
  margin: 20px 4px;
}

.post-header {
  display: flex;
  height: 50px;
  margin: 4px 0px;
  // border: black 1px solid;
  // border-radius: 8px 8px 0px 0px;
  position: relative;
  align-items: center;
}

.user-image {
  position: absolute;
  left: 4px;
  top: 4px;
}

.post-username {
  margin-left: 56px;
  // padding-top: 0px;
}

.post-media {
  height: 160px;
}

.post-footer  {
  height: 32px;
  margin-bottom: 16px;
  padding-left: 4px;
  border-bottom: grey 0.5px solid;
}

.post-footer p {
 width: 85vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}
