.search-profiles-wrapper {
  width: 90vw;
  margin: auto;
}

.profile-card {
  display: flex;
  background-color: $lblue;
  border-radius: 8px;
  align-items: center;
  height: 132px;
  margin-bottom: 16px;
  position: relative;
}

.image {
  padding-left: 12px;
}

.profile-details {
  padding-left: 16px;
}

.profile-details p {
  margin-bottom: 0px;
}

.profile-arrow {
  position: absolute;
  right: 16px;
}

.post-button {
  padding: 2px 2px;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  float: right;
}

.post-button .fa-plus-circle {
  color: white;
}
