.profile-photo {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
}

.info-wrapper {
  width: 90vw;
  margin: auto;
  margin-top: 16px;
  position: relative;
}

.profile-info {
  display: flex;
  align-item: left;
  margin-bottom: 4px;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  color: $red;
  border: $red 1px solid;
  border-radius: 50%;
  padding: 8px;
  margin-left: 8px;
  background: none;
}

.follow {
  color: green !important;
  border: green 1px solid !important;
}

.btn-edit-profile {
  position: absolute;
  right: -2px;
  top: -2px;
  color: $red;
}

.profile-info p {
  margin-bottom: -4px;
}

.name-location h5 {
  margin-bottom: -4px;
}

.body-text {
  font-weight: lighter;
}

.image-div {
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 12px;
  left: 12px;
}

.button-available {
  width: 28vw;
  height: 28px;
  background-color: #5cd65c;
  color: white;
  border-radius: 4px;
  // padding: 4px 8px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-unavailable {
  // position: absolute;
  // bottom: 12px;
  // left: 12px;
  width: 28vw;
  height: 28px;
  background-color: transparent;
  border: #d83836 1px solid;
  color: #d83836;
  border-radius: 4px;
  // padding: 4px 8px;
  text-decoration: none;
  &:hover {
    color: #d83836;
    text-decoration: none;
  }
}

.margin-fix {
  margin-right: 0;
  margin-left: 0;
}

.avail-msg-fol {
  display: flex;
  justify-content: space-between;
}

.button-follow {
  width: 28vw;
  height: 28px;
  // margin: 0px 4px;
  background-color: transparent;
  color: #5cd65c;
  border: 1px solid #5cd65c;
  border-radius: 4px;
  padding: 4px 8px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-unfollow {
  width: 28vw;
  height: 28px;
  // margin: 0px 4px;
  background-color: transparent;
  color: $red;
  border: 1px solid $red;
  border-radius: 4px;
  padding: 4px 8px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-message {
  width: 28vw;
  // margin: 0px 4px;
  height: 28px;
  background-color: transparent;
  color: $red;
  border: 1px solid $red;
  border-radius: 4px;
  padding: 4px 8px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.user-posts {
  width: 90vw;
  margin: auto;
  padding-top: 16px;
}
