#bg-gradient {
  height: 100vh;
  background-image: linear-gradient(to bottom right, $dblue, #BD2036);
  overflow: hidden;
}

.jamable-logo {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
}

.login-button {
  color: white;
  background-color: $red;
  border-radius: 4px;
}

.signup-button {
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  height: 38px;
  text-align: center;
  line-height: 36px;
}

.forgot-password {
  color: white;
}
