<% @chatrooms.each do |chatroom| %>

  <% if chatroom.sender == current_user.id || chatroom.receiver == current_user.id %>
  <ul id="chatroom-index">
    <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
  </ul>
  <% end %>
<% end %>
