<div class="container-signup">
  <div class="topbar">
    <div class="topbar-content-messages">
    <h3>Add a genre</h3>
    </div>
  </div>
  <%= simple_form_for @user_genre do |f| %>
    <div class="signup-wrapper">

      <hr>
      <%= f.fields_for :name do |name_form| %>


        <%= select_tag "genre_id", options_from_collection_for_select(Genre.all, "id", "name"), class: 'select2' %>

      <% end %>
      <hr>
      <%= f.button :submit, "Add genre", class: "login-button" %>
    </div>
  <% end %>

</div>
