<div class="container-signup">

  <%= simple_form_for @user_genre do |f| %>
    <div class="signup-wrapper">
      <h2>Add a new genre</h2>
      <hr>
      <%= f.fields_for :name do |name_form| %>
        <%= name_form.select(:genre_id, options_from_collection_for_select(Genre.all, "id", "name")) %>
      <% end %>
      <hr>
      <%= f.button :submit, "Add genre", class: "btn-primary w-100" %>
    </div>
  <% end %>

</div>
