.btn-arrow {
  background-color: transparent;
  border: 0.5px solid $red;
  color: $red;
  border-radius: 50%;
  font-weight: lighter;
  padding: 1px 16px;
  font-size: 32px;
  }

.back-arrow {
  background-color: transparent;
  border: 0.5px solid $red;
  color: $red;
  border-radius: 50%;
  font-weight: lighter;
  padding: 1px 16px;
  font-size: 32px;
}
