
.btn-search {
  color: $white;
  background: $red;
  position: absolute;
  right: 0px;
  border: none;
  padding: 7px 15px;
  border-radius: 8px;
}

.back-arrow {
  background-color: transparent;
  border: 2px solid $red;
  color: $red;
  border-radius: 50%;
  padding: 1px 16px;
  font-size: 32px;
}

.back-arrow-small {
  background-color: transparent;
  border: 2px solid $red;
  color: $red;
  border-radius: 50%;
  padding: 8px 14px;
  font-size: 16px;
}

.forward-arrow {
  background-color: transparent;
  position: absolute;
  border: 2px solid $red;
  color: $red;
  border-radius: 50%;
  padding: 1px 16px;
  font-size: 32px;
  right: 8px;
  width: 50px;
  top: 44px;
}

.forward-arrow a:hover{
  text-decoration: none;
}

.back-arrow a:hover{
  text-decoration: none;
}


