.footer {
  position: fixed;
  left: 0;
  bottom: -1px;
  height: 60px;
  width: 100vw;
  background: rgba(30,30,30,1);
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 0px 24px;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.hamburger {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.dropdown-menu {
  background: rgba(30,30,30,1);
  right: -24px;
}
.navbar {
  padding: 0px;
}

