.form-inputs {
  display: grid;
  justify-content: center;
}
.width-form {
  width: 80vw;
}
.container-signup {
  display: grid;
  justify-content: center;
}
.signup-wrapper {
  width: 80vw;
}
#user_instrument_name_instrument_id {
  width: 80vw;
}
#user_genre_name_genre_id {
  width: 80vw;
}
