.form-inputs {
  display: grid;
  justify-content: center;
}

.headline {
  display: grid;
  justify-content: center;
  margin: auto;
}


.search-form-control {
  position: relative;
  border: 3px;
  // margin: 1em 0;
}

.login-form {
  margin-top: 16px;
}

.width-form {
  width: 80vw;
}
.container-signup {
  display: grid;
  justify-content: center;
}
.signup-wrapper {
  width: 80vw;
}
#user_instrument_name_instrument_id {
  width: 80vw;
}
#user_genre_name_genre_id {
  width: 80vw;
}

.select2 {
 width: 100% !important;
}
