<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for @instrument do |f| %>

      <h1>Add a new instrument</h1>

      <%= f.input :name,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Instrument" }%>
      <%= f.input :skill_level, as: :select, collection: Instrument::SKILL_LEVELS %>
      <%= f.button :submit, "Add instrument", class: "btn-primary w-100" %>

      <% end %>

    </div>
  </div>
</div>
